body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.map {
    background: #303030;
}

.map .tile {
    fill: #1d1d1d;
}

.map .tile.Store {
    fill: #f6e795;
}

.map .tile.PoliceStation {
    fill: #4760f2;
}

.map .tile.Bank {
    fill: #a7fa83;
}

.map .tile.Airport {
    fill: #ff6464;
}

.map .tile-link {
    stroke: #b2b2b2;
}
