@using MafiaGame.Models

@{
    ViewBag.Title = "Mafiagame";

    var player = (PlayerEntity) ViewData["player"];
    var map = player.City.Map;
}

<div class="row">
    <div class="mainbar col-md-8">

        <div id="map-panel" class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Map</h3>
            </div>
            <div class="panel-body">
                @Html.Partial("_Map", map)
            </div>
        </div>

    </div>
    <div class="sidebar col-md-4">

        <div id="character-info-panel" class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Character Info</h3>
            </div>
            <div class="panel-body">
                <ul class="list-unstyled">
                    <li class="row">
                        <label class="col-sm-4">Name</label>
                        <span class="col-sm-8">@player.Name</span>
                    </li>
                    <li class="row">
                        <label class="col-sm-4">City</label>
                        <span class="col-sm-8">@player.City.Name</span>
                    </li>
                </ul>
            </div>
        </div>

        <div id="tile-info-panel" class="panel panel-default hidden">
            <div class="panel-heading">
                <h3 class="panel-title">Tile info</h3>
            </div>
            <div class="panel-body">
                <ul class="list-unstyled">
                    <li class="row">
                        <label class="col-sm-4">Name</label>
                        <span id="name" class="col-sm-8"></span>
                    </li>
                    <li class="row">
                        <label class="col-sm-4">Type</label>
                        <span id="type" class="col-sm-8"></span>
                    </li>
                    <li class="row">
                        <label class="col-sm-4">Activities</label>
                        <ul id="activities" class="list-unstyled col-sm-8">
                            <li><a id="activity"></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>