@using MafiaGame.Models

@{
    ViewBag.Title = "Mafiagame";

    var player = (PlayerEntity) ViewData["player"];
}

<div class="row">
    <div class="mainbar col-md-8">
        <div class="map">

        </div>
    </div>
    <div class="sidebar col-md-4">
        <div class="character-info">
            <span>Name: @player.Name</span>
        </div>
    </div>
</div>