@using MafiaGame.Models

@{
    ViewBag.Title = "Mafiagame";

    var player = (PlayerEntity)ViewData["player"];
    var map = player.City.Map;
}

<div class="row">
    <div class="mainbar col-md-8">

        @Html.Partial("_Map", map, new ViewDataDictionary {
            { "playerPosition", player.CurrentTile },
        })

    </div>
    <div class="sidebar col-md-4">

        @Html.Partial("_CharacterInfo", player)

        @Html.Partial("_TileInfo")
        
    </div>
</div>