@using MafiaGame.Models

@{
    ViewBag.Title = "Mafiagame";

    var player = (PlayerEntity) ViewData["player"];
    var map = player.City.Map;
}

<div class="row">
    <div class="mainbar col-md-8">

        <div class="map panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Map</h3>
            </div>
            <div class="panel-body">
                @Html.Partial("_Map", map)
            </div>
        </div>

    </div>
    <div class="sidebar col-md-4">

        <div class="character-info panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Character Info</h3>
            </div>
            <div class="panel-body">
                <ul class="list-unstyled">
                    <li class="row">
                        <label class="col-sm-4">Name</label>
                        <span>@player.Name</span>
                    </li>
                    <li class="row">
                        <label class="col-sm-4">City</label>
                        <span>@player.City.Name</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="tile-info panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Tile info</h3>
            </div>
            <div class="panel-body">
                <ul class="list-unstyled">
                    <li class="row">
                        <label class="col-sm-4">Property</label>
                        <span>Value</span>
                    </li>
                    <li class="row">
                        <label class="col-sm-4">Property</label>
                        <span>Value</span>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>