@{
    ViewBag.Title = "Mafiagame";
}

<div class="jumbotron">
    <p class="lead">Click here to start a new game.</p>
    @Html.ActionLink("Start new game", "Index", "CharacterCreation", new { area = "" }, new { @class = "btn btn-primary btn-lg" })
</div>